@model TaskModel

<div class="d-flex flex-column container-fluid mb-2 bg-black bg-opacity-10 p-2 rounded">
    <div class="row">
        <div class="col-6 text-start">
            <h2 class="col-6"><strong>@Model.Name</strong></h2>
            <input type="hidden" asp-for="@Model.Name"/>
        </div>
        <div class="col-6">
            <select asp-for="@Model.TaskStatus" class="form-select col-6">
                <option value="NotStarted">Not Started</option>
                <option value="Started">Started</option>
                <option value="Completed">Completed</option>
            </select>
        </div>
    </div>
    <div class="row text-start">
        <p>@Model.Description</p>
        <input type="hidden" asp-for="@Model.Description"/>
    </div>
    <div class="row text-start">
        <h3>Due: @Model.DueDate.ToShortDateString() @Model.DueDate.ToShortTimeString()</h3>
        <input type="hidden" asp-for="@Model.DueDate" />
    </div>
</div>
